*.yaml
*.yml
!*.yaml.template
!*.yml.template

config/
!kometa/config/
kometa/config/*
!kometa/config/assets/
!kometa/config/assets/**
!kometa/config/config.yml.template
!kometa/config/movies.yml.template
!kometa/config/shows.yml.template

*.bak
*.bkp
TODO.md
tmp.sh
